/* 태그 링크 스타일 */
.post-tag {
  display: inline-block;
  background-color: #f5f5f5;
  padding: 2px 8px;
  border-radius: 3px;
  font-size: 0.8em;
  color: #555;
  margin-right: 5px;
  text-decoration: none;
  pointer-events: none;  /* 클릭 이벤트 비활성화 */
  cursor: default;       /* 마우스 커서를 기본으로 설정 */
}

/* 마우스 오버 시 스타일 제거 */
.post-tag:hover {
  color: #555;
  background-color: #f5f5f5;
  text-decoration: none;
}
