---
layout: vintage
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
    
    <p class="read-more">
      <a href="{{ post.url | relative_url }}">Read More &raquo;</a>
    </p>
  </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">&laquo; Previous</a>
  {% else %}
    <span class="previous">&laquo; Previous</span>
  {% endif %}
  <span class="page_number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next &raquo;</a>
  {% else %}
    <span class="next">Next &raquo;</span>
  {% endif %}
</div>
