---
layout: vintage
---

<h1>{{ page.title }}</h1>

<div class="tag-posts">
  {% if page.tag %}
  {% assign tag_posts = site.tags[page.tag] %}
  {% for post in tag_posts %}
  <article class="post">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
    
    <div class="post-excerpt">
      {{ post.excerpt }}
    </div>
    
    <p class="read-more">
      <a href="{{ post.url | relative_url }}">Read More &raquo;</a>
    </p>
  </article>
  {% endfor %}
{% endif %}
</div>
